<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homeadmin"></ion-back-button>
    </ion-buttons>
    <ion-title>My Ideas</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/idea-details">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <ion-list>
    <ion-item *ngFor="let idea of (ideas | async)">
      <ion-thumbnail slot="start">
        <img [src]="idea.image">
      </ion-thumbnail>
      {{ idea.name }} 
      <ion-button slot="end" [routerLink]="['/idea-details', idea.id]">admin side Demo</ion-button>
      
      <ion-button slot="end" [routerLink]="['/user-product-detail', idea.id]">user side Demo</ion-button>
      
    </ion-item>
  </ion-list>

  <p>{{ideas.Name}}</p>
</ion-content>