
ion-content.login-bg{
    --background: linear-gradient(rgba(120, 120, 120, 0.5), rgba(120, 120, 120, 0.5)),url(../../assets/icon/pnh_bg.jpg) no-repeat center center / cover;;
    --background-blend-mode:screen;
}

.login-button{
    margin: 5% 25%;
    
}
ion-button {
    --background: #ffa500;
}

ion-icon.go-back{
    font-size: xx-large;
    color: #fff;
    margin-top: 2%;
    margin-left: 2%;
}

ion-icon.icon-text{
    color: red;
}

@media screen and (min-width: 320px) {
.login-card {
    width: 90%;
    margin: 20px auto 0px;
    box-shadow: 0px 0px 10px#505050;
    }
}

@media screen and (min-width: 758px) {
    .login-card {
      width: 60%;
      margin: auto;
    }
  }
