<ion-app>  
  <ion-menu side="start" menuId="admin" contentId="admin">  
    <ion-header>  
      <ion-toolbar color="success">  
        <ion-title>Admin</ion-title>  
      </ion-toolbar>   
    </ion-header>  
    <ion-content>  
      <ion-list *ngFor="let pages of pagesAdmin">  
        <ion-menu-toggle auto-hide="true">  
          <ion-item [routerLink]="pages.url" routerDirection="forward">  
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>  
              {{pages.title}}   
          </ion-item>  
        </ion-menu-toggle>  
      </ion-list>  
    </ion-content>   
  </ion-menu>  
  <ion-router-outlet Id="admin"></ion-router-outlet> 

  
  <ion-menu side="start" menuId="user" contentId="user">  
    <ion-header>  
      <ion-toolbar color="success">  
        <ion-title>User</ion-title>  
      </ion-toolbar>   
    </ion-header>  
    <ion-content>  
      <ion-list *ngFor="let pages of pagesUser">  
        <ion-menu-toggle auto-hide="true">  
          <ion-item [routerLink]="pages.url" routerDirection="forward">  
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>  
              {{pages.title}}   
          </ion-item>  
        </ion-menu-toggle>  
      </ion-list>  
    </ion-content>   
  </ion-menu>  
  <ion-router-outlet Id="user"></ion-router-outlet> 

  <ion-menu side="start" menuId="public" contentId="public">  
    <ion-header>  
      <ion-toolbar color="pnh">  
        <ion-title>Public</ion-title>  
      </ion-toolbar>   
    </ion-header>  
    <ion-content>  
      <ion-list *ngFor="let pages of pagesPublic">  
        <ion-menu-toggle auto-hide="true">  
          <ion-item [routerLink]="pages.url" routerDirection="forward">  
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>  
              {{pages.title}}   
          </ion-item>  
        </ion-menu-toggle>  
      </ion-list>  
    </ion-content>   
  </ion-menu>  
  <ion-router-outlet Id="public"></ion-router-outlet>
</ion-app>