<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Idea Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

  <div *ngIf="idea.id"  class = "Image">
  <img [src]="idea.image" alt="no image yet" height='70%' width='40%'>
  </div>
  

  <ion-item *ngIf="idea.id">
    <input type="file" name="inputFile" (change)="chooseFile($event)" required>
  </ion-item>
 
  <ion-item>
    <ion-label position="stacked">Product Name</ion-label>
    <ion-input [(ngModel)]="idea.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Product Category</ion-label>
    <ion-input [(ngModel)]="idea.category"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Product Series</ion-label>
    <ion-input [(ngModel)]="idea.Series"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="stacked">Product Description</ion-label>
    <ion-textarea [(ngModel)]="idea.notes" rows="6"></ion-textarea>
  </ion-item>

  <ion-list class="listItem">
        
    <ion-item text-center lines="none" class="listItem" *ngFor="let priceSize of (priceSizeList | async)"  >
      
      <ion-label>{{priceSize.size}} ------------------  ${{priceSize.price}}</ion-label>
      
    </ion-item>
   

    </ion-list>

  <ion-item *ngIf="idea.id">
    <ion-label position="stacked">Product Size</ion-label>
    <ion-input [(ngModel)]="priceSize.size"></ion-input>
  </ion-item>

  <ion-item *ngIf="idea.id">
    <ion-label position="stacked">Product Price</ion-label>
    <ion-input [(ngModel)]="priceSize.price"></ion-input>
  </ion-item>

    
     
   



  <ion-button *ngIf="idea.id" expand="full" fill="clear" color="success" (click)="addPriceSize()">
    <ion-icon name="checkmark" slot="start"></ion-icon>
    Add Price
  </ion-button>

</ion-content>
 
<ion-footer *ngIf="!idea.id">
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="addIdea()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Add Idea
    </ion-button>
  </ion-toolbar>
</ion-footer>
 
<ion-footer *ngIf="idea.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteIdea()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateIdea()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>