.Image{
    align-items: center;
    padding-bottom: 4%;
    padding-left: 40%;
    padding-top: 3%;
  
}

.listItem{
    align-items: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    
}