
ion-avatar img{ 
    width:120px !important;
    height : 120px !important;
    max-width: 250% !important;  //any size
    max-height: 250% !important; 
}


.profileImage{
    align-items: center;
    padding-bottom: 4%;
    padding-left: 40%;
    padding-top: 3%;
  
}


.profile-info{
    
    border-width: 1ch;
    border-color: darkgray;
    Text-align:center;
    font-size: 125%;
}

.radio{
    max-width: 50px;
    text-align: center;
}



.info{
    color:cornflowerblue;
}



