
ion-avatar img{ 
    width:120px !important;
    height : 120px !important;
    max-width: 250% !important;  //any size
    max-height: 250% !important; 
}


.profileImage{
    padding-bottom: 6%;
    padding-left: 44%;
}


.profile-info{
    
    border-width: 1ch;
    border-color: darkgray;
    Text-align:center;
    font-size: 125%;
}

.radio{
    max-width: 50px;
    text-align: center;
}



.info{
    color:cornflowerblue;
}



