/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-pnh: #ffa500;
    --ion-color-pnh-rgb: 255,165,0;
    --ion-color-pnh-contrast: #ffffff;
    --ion-color-pnh-contrast-rgb:255,255,255;  
    --ion-color-pnh-shade: #e09100;
    --ion-color-pnh-tint: #ffae1a;
  }
  
  .ion-color-pnh {
    --ion-color-base: var(--ion-color-pnh);
    --ion-color-base-rgb: var(--ion-color-pnh-rgb);
    --ion-color-contrast: var(--ion-color-pnh-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pnh-contrast-rgb);
    --ion-color-shade: var(--ion-color-pnh-shade);
    --ion-color-tint: var(--ion-color-pnh-tint);
  }

  :root {
    --ion-color-tertiary: #80adff;
    --ion-color-tertiary-rgb: 128,173,255;
    --ion-color-tertiary-contrast: #FFFFFF;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #7198e0;
    --ion-color-tertiary-tint: #8db5ff;
  }
  
  .ion-color-tertiary {
    --ion-color-base: var(--ion-color-tertiary);
    --ion-color-base-rgb: var(--ion-color-tertiary-rgb);
    --ion-color-contrast: var(--ion-color-tertiary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb);
    --ion-color-shade: var(--ion-color-tertiary-shade);
    --ion-color-tint: var(--ion-color-tertiary-tint);
  }
  
  
  
  