
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row id="top-nav">
        <ion-col size="3" size-md="9"></ion-col>
        <ion-col size="3" size-md="1">
          <a href="/idea-list" class="top-links">IDEAS</a>
        </ion-col>
        <ion-col size="3" size-md="1">
          <a href="/idea-details" class="top-links">ADD IDEA</a>
        </ion-col>
        <ion-col size="3" size-md="1">
          <a href="/login" class="top-links">LOGIN</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1" size-md="1">
          <ion-buttons slot="start">  
            <ion-menu-button color="dark"></ion-menu-button>   
          </ion-buttons> 
        </ion-col>
        <ion-col size="2" size-md="1">
          <img src="../../assets/icon/PNH.png" style="margin-top: 15px; width:80%;">
        </ion-col>
        <ion-col size="9" size-md="7">
          <ion-searchbar style="margin-top:20px;"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div id="container">
    <ion-grid>
        <ion-row>
          <ion-col size="0" size-md="1"></ion-col>
        <ion-col size="6" size-md="2">
          <ion-card class="cat-card">
            <button ion-item class="cat-card">
              <img src="../../assets/icon/vini_tape.jpg" />
              <ion-card-content>
                <ion-card-title>All</ion-card-title>
              </ion-card-content>
            </button>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="2">
          <ion-card class="cat-card">
            <button ion-item class="cat-card">
              <img src="../../assets/icon/vini_tape.jpg" />
              <ion-card-content>
                <ion-card-title>Hardware</ion-card-title>
              </ion-card-content>
            </button>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="2">
          <ion-card  class="cat-card">
            <button ion-item class="cat-card">
              <img src="../../assets/icon/bulb.jpg" />
              <ion-card-content>
                <ion-card-title>Lighting</ion-card-title>
              </ion-card-content>
            </button>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="2">
          <ion-card  class="cat-card">
            <button ion-item class="cat-card">
              <img src="../../assets/icon/plumbing.jpg" />
              <ion-card-content>
                <ion-card-title>Plumbing</ion-card-title>
              </ion-card-content>
            </button>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="2">
          <ion-card class="cat-card">
            <button ion-item class="cat-card">
              <img src="../../assets/icon/paint.jpg" />
              <ion-card-content>
                <ion-card-title>Paint</ion-card-title>
              </ion-card-content>
            </button>
          </ion-card>
        </ion-col>
        <ion-col size="0" size-md="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

