<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row id="top-nav">
        <ion-col size="3" size-md="9"></ion-col>
        <ion-col size="3" size-md="1">
          <a href="/idea-list" class="top-links">IDEAS</a>
        </ion-col>
        <ion-col size="3" size-md="1">
          <a href="/idea-details" class="top-links">ADD IDEA</a>
        </ion-col>
        <ion-col size="3" size-md="1">
          <a href="/login" class="top-links">LOGIN</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="0" size-md="1"></ion-col>
        <ion-col size="2" size-md="1">
          <img src="../../assets/icon/PNH.png" style="margin-top: 15px; width:80%;">
        </ion-col>
        <ion-col size="9" size-md="7">
          <ion-searchbar style="margin-top:20px;"></ion-searchbar>
        </ion-col>
      </ion-row>
      
    </ion-grid>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button fill="solid">
          <ion-icon slot="start" name="person-circle"></ion-icon>
          Contact
        </ion-button>
      </ion-buttons>
      <ion-title>Solid Buttons</ion-title>
      <ion-buttons slot="primary">
        <ion-button fill="solid" color="secondary">
          Help
          <ion-icon slot="end" name="help-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>I am ready to create my website yayyyyyy Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

</ion-content>