<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-title>DEMO</ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-button expand="block" [routerLink]="['/idea-list']" color="primary" >Ideas</ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button expand="block" [routerLink]="['/idea-details']" color="primary" >Add Idea</ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button expand="block" [routerLink]="['/login']" color="primary" ></ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button expand="block" [routerLink]="['/login']" color="primary" >Login</ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button fill="solid">
          <ion-icon slot="start" name="person-circle"></ion-icon>
          Contact
        </ion-button>
      </ion-buttons>
      <ion-title>Solid Buttons</ion-title>
      <ion-buttons slot="primary">
        <ion-button fill="solid" color="secondary">
          Help
          <ion-icon slot="end" name="help-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>I am ready to create my website yayyyyyy Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

</ion-content>